<details class="debug" lang="en" dir="ltr">
  <summary>Debug Info</summary>
  <div class="debug-panel">
    <div class="wrapper">
      
      <dl>
        <dt>page.locale</dt>
        <dd>{{ page.locale }}</dd>
        <dt>locale.name</dt>
        <dd>{{ locale.name }}</dd>
        <dt>locale.lang</dt>
        <dd>{{ locale.lang }}</dd>
        <dt>locale.baseurl</dt>
        <dd>
          {% if locale.baseurl.size > 0 %}
          {{ locale.baseurl }}
          {% else %}
          <i>{{ locale.baseurl | inspect }}</i>
          {% endif %}
        </dd>
        <dt>strings_ref</dt>
        <dd>{{ strings_ref }}</dd>
        <dt>strings</dt>
        <dd>{% for string in strings %}{{ string[0] }}{% unless forloop.last %}, {% endunless %}{% endfor %}</dd>
      </dl>
      
      <dl>
        <dt hidden>page.slug</dt>
        <dd hidden>{{ page.slug }}</dd>
        <dt>page.path</dt>
        <dd>{{ page.path }}</dd>
        <dt>page.relative_path</dt>
        <dd>{{ page.relative_path }}</dd>
        <dt hidden>page.url</dt>
        <dd hidden>{{ page.url }}</dd>
        <dt>page.id</dt>
        <dd>{{ page.id }}</dd>
        <dt>page.document_id</dt>
        <dd>{{ page.document_id }}</dd>
        <dt>document_id</dt>
        <dd>{{ document_id }}</dd>
      </dl>
      
      <dl>
        <dt hidden>page.collection</dt>
        <dd hidden>{{ page.collection }}</dd>
        <dt>page.collection_basename</dt>
        <dd>{{ page.collection_basename }}</dd>
        <dt>page.collection_suffix</dt>
        <dd>
          {% if page.collection_suffix %}
          {{ page.collection_suffix }}
          {% else %}
          <i>{{ page.collection_suffix | inspect }}</i>
          {% endif %}
        </dd>
        <dt>localized_collections</dt>
        <dd>{{ localized_collections | join: ", " }}</dd>
        <dt>localized_pages</dt>
        <dd>
          {% for localized_page in localized_pages %}
          <a href="{{ site.baseurl }}{{ localized_page.url }}">{{ localized_page.locale }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </dd>
        <dt>default_page</dt>
        <dd>
          {% if default_page %}
          <a href="{{ site.baseurl }}{{ default_page.url }}">{{ default_page.locale }}</a>
          {% else %}
          <i>{{ default_page | inspect }}</i>
          {% endif %}
        </dd>
      </dl>
      
      <pre hidden>{{ page | inspect }}</pre>
      
      <button id="unhide-button" onclick="unhideAll()">More</button>
      
    </div>
  </div>
</details>

<script>
  
  var debugPanel = document.querySelector(".debug");
  
  function setCookie(val) {
    var now = new Date();
    var time = now.getTime();
    var seconds_to_expire = 43200;
    time += seconds_to_expire * 1000;
    now.setTime(time);
    document.cookie = "debugisopen=" + val.toString() + "; expires=" + now.toUTCString() + "; path=/";
  };
  
  document.addEventListener("DOMContentLoaded", function() {
    var cookieVal = document.cookie.replace(/(?:(?:^|.*;\s*)debugisopen\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    if (cookieVal == "true") {
      debugPanel.setAttribute("open", "open");
    } else if (cookieVal == "false") {
      debugPanel.removeAttribute("open");
    }
  });
  
  debugPanel.addEventListener("toggle", function() {
    console.log("toggle event!");
    if (debugPanel.open) {
      setCookie(true);
    } else {
      setCookie(false);
    };
  });
  
  function unhideAll() {
    var elements = document.querySelectorAll(".debug [hidden]");
    for (var i=0; i < elements.length; i++) {
      elements[i].removeAttribute("hidden");
    }
    document.querySelector("#unhide-button").setAttribute("hidden", "hidden");
  }
  
</script>
