<details class="debug" lang="en" dir="ltr" aria-hidden="true" open>
  <summary>Debug Info</summary>
  <div class="debug-panel">
    <div class="wrapper">
      
      <dl>
        <dt>locale_label</dt>
        <dd>{{ locale_label }}</dd>
        <dt>locale.name</dt>
        <dd>{{ locale.name }}</dd>
        <dt>locale.lang</dt>
        <dd>{{ locale.lang }}</dd>
        <dt>locale_baseurl</dt>
        <dd>{{ locale_baseurl }}</dd>
        <dt>locale_strings</dt>
        <dd><i>{{ locale_strings.size }} strings</i></dd>
        <dt hidden>strings_ref</dt>
        <dd hidden>{{ strings_ref }}</dd>
      </dl>
      
      <dl>
        <dt>page.slug</dt>
        <dd>{{ page.slug }}</dd>
        <dt>page.path</dt>
        <dd>{{ page.path }}</dd>
        <dt hidden>page.url</dt>
        <dd hidden>{{ page.url }}</dd>
        <dt>page.id</dt>
        <dd>{{ page.id }}</dd>
        <dt>content_id</dt>
        <dd>{{ content_id }}</dd>
      </dl>
      
      <dl>
        <dt>page.collection</dt>
        <dd>{{ page.collection }}</dd>
        <dt hidden>page_collection_basename</dt>
        <dd hidden>{{ page_collection_basename }}</dd>
        <dt hidden>page_collection_suffix</dt>
        <dd hidden>
          {% if page_collection_suffix %}
          {{ page_collection_suffix }}
          {% else %}
          <i>{{ page_collection_suffix | inspect }}</i>
          {% endif %}
        </dd>
        <dt hidden>collection_localized</dt>
        <dd hidden>{{ collection_localized | join: ", " }}</dd>
        <dt>page_localized</dt>
        <dd>
          {% for localized_page in page_localized %}
          <a href="{{ site.baseurl }}{{ localized_page.url }}">{{ localized_page.locale }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </dd>
        <dt>page_default</dt>
        <dd>
          {% if page_default %}
          <a href="{{ site.baseurl }}{{ page_default.url }}">{{ page_default.locale }}</a>
          {% else %}
          <i>{{ page_default | inspect }}</i>
          {% endif %}
        </dd>
      </dl>
      
      <pre hidden>{{ page | inspect }}</pre>
      
    </div>
  </div>
</details>
