<details class="debug" lang="en" dir="ltr" aria-hidden="true">
  <summary>Debug Info</summary>
  <div class="debug-panel">
    <div class="wrapper">
      
      <dl>
        <dt>page.locale</dt>
        <dd>{{ page.locale }}</dd>
        <dt>locale.name</dt>
        <dd>{{ locale.name }}</dd>
        <dt>locale.lang</dt>
        <dd>{{ locale.lang }}</dd>
        <dt>locale_baseurl</dt>
        <dd>
          {% if locale_baseurl.size > 0 %}
          {{ locale_baseurl }}
          {% else %}
          <i>{{ locale_baseurl | inspect }}</i>
          {% endif %}
        </dd>
        <dt>locale_strings</dt>
        <dd>{% for string in locale_strings %}{{ string[0] }}{% unless forloop.last %}, {% endunless %}{% endfor %}</dd>
        <dt hidden>strings_ref</dt>
        <dd hidden>{{ strings_ref }}</dd>
      </dl>
      
      <dl>
        <dt hidden>page.slug</dt>
        <dd hidden>{{ page.slug }}</dd>
        <dt>page.path</dt>
        <dd>{{ page.path }}</dd>
        <dt hidden>page.url</dt>
        <dd hidden>{{ page.url }}</dd>
        <dt>page.id</dt>
        <dd>{{ page.id }}</dd>
        <dt>content_id</dt>
        <dd>{{ content_id }}</dd>
      </dl>
      
      <dl>
        <dt hidden>page.collection</dt>
        <dd hidden>{{ page.collection }}</dd>
        <dt hidden>page_collection_basename</dt>
        <dd hidden>{{ page_collection_basename }}</dd>
        <dt hidden>page_collection_suffix</dt>
        <dd hidden>
          {% if page_collection_suffix %}
          {{ page_collection_suffix }}
          {% else %}
          <i>{{ page_collection_suffix | inspect }}</i>
          {% endif %}
        </dd>
        <dt hidden>collection_localized</dt>
        <dd hidden>{{ collection_localized | join: ", " }}</dd>
        <dt>localized_pages</dt>
        <dd>
          {% for localized_page in localized_pages %}
          <a href="{{ site.baseurl }}{{ localized_page.url }}">{{ localized_page.locale }}</a>{% unless forloop.last %},{% endunless %}
          {% endfor %}
        </dd>
        <dt>default_page</dt>
        <dd>
          {% if default_page %}
          <a href="{{ site.baseurl }}{{ default_page.url }}">{{ default_page.locale }}</a>
          {% else %}
          <i>{{ default_page | inspect }}</i>
          {% endif %}
        </dd>
      </dl>
      
      <pre hidden>{{ page | inspect }}</pre>
      
    </div>
  </div>
</details>

<script>
  
  var debugPanel = document.querySelector(".debug");
  
  function setCookie(val) {
    var now = new Date();
    var time = now.getTime();
    var seconds_to_expire = 43200;
    time += seconds_to_expire * 1000;
    now.setTime(time);
    document.cookie = "debugisopen=" + val.toString() + "; expires=" + now.toUTCString() + "; path=/";
  };
  
  document.addEventListener("DOMContentLoaded", function() {
    var cookieVal = document.cookie.replace(/(?:(?:^|.*;\s*)debugisopen\s*\=\s*([^;]*).*$)|^.*$/, "$1");
    if (cookieVal == "true") {
      debugPanel.setAttribute("open", "open");
    } else if (cookieVal == "false") {
      debugPanel.removeAttribute("open");
    }
  });
  
  debugPanel.addEventListener("toggle", function() {
    console.log("toggle event!");
    if (debugPanel.open) {
      setCookie(true);
    } else {
      setCookie(false);
    };
  });
  
</script>
