<header class="site-header" role="banner">
  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}{{ page_locale.baseurl | append: '/' | replace: '//', '/' }}">{{ site.title | escape }}</a>

    {% assign pages_collection = "pages" | append: page_collection_suffix %}

    <nav class="site-nav">
      <ul class="pages-nav">
        {% assign current_url = page.url %}
        {% assign pages = site[pages_collection] | sort: "order" %}
        {% for page in pages %}
        {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}" {% if page.url == current_url %}aria-current="page"{% endif %}>{{ page.title | escape }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

      <ul class="lang-switcher">
        {% for lang in site.lang %}
        {% assign locale = site.locales[lang] %}
        {% if locale.baseurl == page_locale.baseurl %}
        <li><a href="{{ page.url | prepend: site.baseurl }}" aria-current="true">{{ locale.name }}</a></li>
        {% else %}
        {% assign localized_page = localized_pages | where: "lang", lang | first %}
        {% if localized_page %}
        <li><a href="{{ localized_page.url | prepend: site.baseurl }}">{{ locale.name }}</a></li>
        {% else %}
        <li><a>{{ locale.name }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>
</header>
