<header class="site-header" role="banner">
  <div class="wrapper">
    
    <a class="site-title" href="{{ site.baseurl }}{{ locale_baseurl }}/">{{ site.title | escape }}</a>

    {% assign pages_collection = "pages" | append: page_collection_suffix %}

    <nav class="site-nav">
      <ul class="pages-nav" aria-label="{{ localized.site_navigation }}">
        {% assign current_url = page.url %}
        {% assign pages = site[pages_collection] %}
        {% if pages.size > 0 %}
        {% assign pages = pages | sort: "order" %}
        {% endif %}
        {% for page in pages %}
        {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}" {% if page.url == current_url %}aria-current="page"{% endif %}>{{ page.title | escape }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>

      <ul class="lang-switcher" aria-label="{{ localized.language_selector }}">
        {% for locale in site.locales %}
        {% if locale[0] == page.locale %}
        <li><a href="{{ page.url | prepend: site.baseurl }}" aria-current="true" lang="{{ locale[1].lang }}">{{ locale[1].name }}</a></li>
        {% else %}
        {% assign localized_page = page_localizations | where: "locale", locale[0] | first %}
        {% if localized_page %}
        <li><a href="{{ localized_page.url | prepend: site.baseurl }}" lang="{{ locale[1].lang }}">{{ locale[1].name }}</a></li>
        {% else %}
        {% if locale[0] == "default" %}
          {% assign link_locale_baseurl = "" %}
        {% else %}
          {% assign link_locale_baseurl = "/" | append: locale[0] %}
        {% endif %}
        <li><a href="{{ site.baseurl }}{{ link_locale_baseurl }}/" class="not-available" lang="{{ locale[1].lang }}">{{ locale[1].name }}</a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>
</header>
