{% assign obj = include.obj | default: page %}

{% comment %} Create {{ locale }} {% endcomment %}
{% assign locale = site.locales[obj.locale] %}

{% comment %} Generate content_id {% endcomment %}
{% include content_id.html obj=obj %}

{% comment %} Collection basename and suffix {% endcomment %}
{% if obj.locale == "default" %}
  {% assign page_collection_suffix = nil %}
  {% assign page_collection_basename = obj.collection | default: "pages" %}
{% else %}
  {% assign page_collection_suffix = obj.locale | prepend: "_" %}
  {% assign page_collection_basename_length = obj.collection.size | minus: page_collection_suffix.size %}
  {% assign page_collection_basename = obj.collection | slice: 0, page_collection_basename_length %}
{% endif %}

{% comment %} List of localized collections {% endcomment %}
{% assign localized_collections = "" | split: "," %}
{% for loc in site.locales %}
  {% assign loc_label = loc[0] %}
  {% if loc_label == "default" %}
    {% assign collection_suffix = nil %}
    {% assign collection_name = page_collection_basename %}
  {% else %}
    {% assign collection_suffix = loc_label | prepend: "_" %}
    {% assign collection_name = page_collection_basename | append: collection_suffix %}
  {% endif %}
  {% assign collection_obj = site.collections | where: "label", collection_name | first %}
  {% if collection_obj.output == true or collection_name == "pages" %}
    {% assign localized_collections = localized_collections | push: collection_name %}
  {% endif %}
{% endfor %}

{% comment %} List of localized pages {% endcomment %}
{% assign localized_pages = "" | split: "," %}
{% assign current_content_id = content_id %}
{% for localized_collection in localized_collections %}
  {% for document in site[localized_collection] %}
    {% include content_id.html obj=document %}
    {% if content_id == current_content_id %}
      {% assign localized_pages = localized_pages | push: document %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% assign content_id = current_content_id %}

{% comment %} Assign default page {% endcomment %}
{% assign default_page = localized_pages | where: "locale", "default" | first %}
{% if default_page.locale == obj.locale %}
  {% assign default_page = nil %}
{% endif %}

{% comment %} String localization {% endcomment %}
{% assign strings_ref = page_collection_suffix | prepend: "strings" %}
{% assign locale_strings = site.data[strings_ref] %}
