{% assign obj = include.obj | default: page %}

{% comment %} Create {{ locale }} {% endcomment %}
{% assign locale = site.locales[obj.locale] %}

{% comment %} Generate content_id {% endcomment %}
{% if obj.content_id %}
  {% assign content_id = obj.content_id %}
{% else %}
  {% if obj.collection %}
    {% assign collection_path = obj.collection | prepend: "_" | append: "/" %}
    {% assign path_in_collection = obj.path | remove_first: collection_path %}
  {% else %}
    {% assign path_in_collection = obj.path %}
  {% endif %}
  {% assign filename = path_in_collection | split: "/" | last %}
  {% assign base_content_id_length = path_in_collection | size | minus: filename.size %}
  {% assign slug_fallback = filename | split: "." | pop | join: "." %}
  {% assign slug = obj.slug | default: slug_fallback %}
  {% assign content_id = path_in_collection | slice: 0, base_content_id_length | append: slug %}
{% endif %}

{% comment %} Collection basename and suffix {% endcomment %}
{% if obj.locale == "default" %}
  {% assign page_collection_suffix = nil %}
  {% assign page_collection_basename = obj.collection | default: "pages" %}
{% else %}
  {% assign page_collection_suffix = obj.locale | prepend: "_" %}
  {% assign page_collection_basename_length = obj.collection.size | minus: page_collection_suffix.size %}
  {% assign page_collection_basename = obj.collection | slice: 0, page_collection_basename_length %}
{% endif %}

{% comment %} List of localized collections {% endcomment %}
{% assign localized_collections = "" | split: "," %}
{% for loc in site.locales %}
  {% assign loc_label = loc[0] %}
  {% if loc_label == "default" %}
    {% assign collection_suffix = nil %}
    {% assign collection_name = page_collection_basename %}
  {% else %}
    {% assign collection_suffix = loc_label | prepend: "_" %}
    {% assign collection_name = page_collection_basename | append: collection_suffix %}
  {% endif %}
  {% assign collection_obj = site.collections | where: "label", collection_name | first %}
  {% if collection_obj.output == true or collection_name == "pages" %}
    {% assign localized_collections = localized_collections | push: collection_name %}
  {% endif %}
{% endfor %}

{% comment %} List of localized pages {% endcomment %}
{% assign localized_pages = "" | split: "," %}
{% for localized_collection in localized_collections %}
  {% for document in site[localized_collection] %}
    {% if document.content_id %}
      {% assign test_content_id = document.content_id %}
    {% else %}
      {% if document.collection %}
        {% assign collection_path = document.collection | prepend: "_" | append: "/" %}
        {% assign test_path_in_collection = document.path | remove_first: collection_path %}
      {% else %}
        {% assign test_path_in_collection = document.path %}
      {% endif %}
      {% assign test_filename = test_path_in_collection | split: "/" | last %}
      {% assign test_base_content_id_length = test_path_in_collection | size | minus: test_filename.size %}
      {% assign test_slug_fallback = test_filename | split: "." | pop | join: "." %}
      {% assign test_slug = document.slug | default: test_slug_fallback %}
      {% assign test_content_id = test_path_in_collection | slice: 0, test_base_content_id_length | append: test_slug %}
    {% endif %}
    {% if test_content_id == content_id %}
      {% assign localized_pages = localized_pages | push: document %}
      {% break %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% comment %} Assign default page {% endcomment %}
{% assign default_page = localized_pages | where: "locale", "default" | first %}
{% if default_page.locale == obj.locale %}
  {% assign default_page = nil %}
{% endif %}

{% comment %} String localization {% endcomment %}
{% assign strings_ref = page_collection_suffix | prepend: "strings" %}
{% assign locale_strings = site.data[strings_ref] %}
