{% assign page = include.obj %}

{% assign locale = site.locales[page.locale] %}
{% assign default_locale = site.locales.default %}

{% if page.locale == "default" %}
  {% assign locale_baseurl = "" %}
{% else %}
  {% assign locale_baseurl = "/" | append: page.locale %}
{% endif %}

{% if page.content_id %}
  {% assign page_content_id_first_character = page.content_id | slice: 0 %}
  {% if page_content_id_first_character != "/" %}
    {% assign page_content_id = page.content_id | prepend: "/" %}
  {% else %}
    {% assign page_content_id = page.content_id %}
  {% endif %}
{% else %}
  {% assign path_in_collection = page.path | remove_first: "_" | remove_first: page.collection %}
  {% assign filename = path_in_collection | split: "/" | last %}
  {% assign base_content_id_length = path_in_collection | size | minus: filename.size %}
  {% assign page_content_id = path_in_collection | slice: 0, base_content_id_length | append: page.slug %}
{% endif %}

{% if page.locale == "default" %}
  {% assign page_collection_suffix = nil %}
  {% assign page_collection_basename = page.collection %}
{% else %}
  {% assign page_collection_suffix = page.locale | prepend: "_" %}
  {% assign page_collection_basename_length = page.collection.size | minus: page_collection_suffix.size %}
  {% assign page_collection_basename = page.collection | slice: 0, page_collection_basename_length %}
{% endif %}

{% assign collection_localizations = "" | split: "," %}
{% for locale in site.locales %}
  {% if locale[0] == "default" %}
    {% assign collection_suffix = nil %}
    {% assign collection_name = page_collection_basename %}
  {% else %}
    {% assign collection_suffix = locale[0] | prepend: "_" %}
    {% assign collection_name = page_collection_basename | append: collection_suffix %}
  {% endif %}
  {% assign collection_obj = site.collections | where: "label", collection_name | first %}
  {% if collection_obj.output == true %}
    {% assign collection_localizations = collection_localizations | push: collection_name %}
  {% endif %}
{% endfor %}

{% assign page_localizations = "" | split: "," %}
{% for localized_collection in collection_localizations %}
  {% for document in site[localized_collection] %}
    {% if document.content_id %}
      {% assign test_content_id_first_character = document.content_id | slice: 0 %}
      {% if test_content_id_first_character != "/" %}
        {% assign test_content_id = document.content_id | prepend: "/" %}
      {% else %}
        {% assign test_content_id = document.content_id %}
      {% endif %}
    {% else %}
      {% assign test_path_in_collection = document.path | remove_first: "_" | remove_first: document.collection %}
      {% assign test_filename = test_path_in_collection | split: "/" | last %}
      {% assign test_base_content_id_length = test_path_in_collection | size | minus: test_filename.size %}
      {% assign test_content_id = test_path_in_collection | slice: 0, test_base_content_id_length | append: document.slug %}
    {% endif %}
    {% if test_content_id == page_content_id %}
      {% assign page_localizations = page_localizations | push: document %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% assign default_locale_page = page_localizations | where: "locale", "default" | first %}
{% if default_locale_page.locale == page.locale %}
  {% assign default_locale_page = nil %}
{% endif %}

{% assign localized_ref = page_collection_suffix | prepend: "strings" %}
{% assign localized = site.data[localized_ref] %}
