<nav class="lang-switcher" aria-label="{{ locale_strings.language_selector }}">
  <ul>
    {% for locale in site.locales %}
    <li lang="{{ locale.lang }}">
      {% if locale.label == page.locale %}
      <a href="{{ page.url | prepend: site.baseurl }}" aria-current="true">{{ locale.name }}</a>
      {% elsif page.localized[locale.label] %}
      <a href="{{ page.localized[locale.label].url | prepend: site.baseurl }}" hreflang="{{ locale.lang }}">{{ locale.name }}</a>
      {% else %}
      <a href="{{ locale.baseurl | prepend: site.baseurl }}/" hreflang="{{ locale.lang }}" class="not-available">{{ locale.name }}</a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
