<nav class="lang-switcher" aria-label="{{ locale_strings.language_selector }}">
  <ul>
    {% for locale in site.locales %}
    {% assign label = locale[0] %}
    {% assign locale_object = locale[1] %}
    <li lang="{{ locale_object.lang }}">
      {% if label == page.locale %}
      <a href="{{ page.url | prepend: site.baseurl }}" aria-current="true">{{ locale_object.name }}</a>
      {% else %}
        {% assign localized_page = localized_pages | where: "locale", label | first %}
        {% if localized_page %}
        <a href="{{ localized_page.url | prepend: site.baseurl }}" hreflang="{{ locale_object.lang }}">{{ locale_object.name }}</a>
        {% else %}
        {% if locale_object.baseurl %}
          {% assign baseurl = locale_object.baseurl %}
        {% elsif label == "default" %}
          {% assign baseurl = "" %}
        {% else %}
          {% assign baseurl = "/" | append: label %}
        {% endif %}
        <a href="{{ baseurl | prepend: site.baseurl }}/" hreflang="{{ locale_object.lang }}" class="not-available">{{ locale_object.name }}</a>
        {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
