{% assign localized_ref = page.lang | prepend: "strings_" %}
{% assign localized = site.data[localized_ref] %}
{% if page.lang == "en-US" %}
  {% assign date = include.date | date_to_long_string %}
{% elsif page.lang == "pt-PT" %}
  {% assign day = include.date | date: "%-d" %}
  {% assign month_ref = include.date | date: "%-m" | prepend: "month_" %}
  {% assign month = localized[month_ref] %}
  {% assign year = include.date | date: "%Y" %}
  {% capture date %}{{ day }} de {{ month }}, {{ year }}{% endcapture %}
{% else %}
  {% assign date = include.date | date: "%Y-%m-%d" %}
{% endif %}
{{ date }}
