<nav class="site-nav">
  <ul>
    {% assign current_url = page.url %}
    {% assign pages_collection = "pages" | append: page.collection_suffix %}
    {% assign pages = site[pages_collection] %}
    {% for content_id in site.navigation %}
      {% for page in pages %}
        {% include content_id obj=page %}
        {% if temp_content_id == content_id %}
        <li>
          <a href="{{ page.url | prepend: site.baseurl }}" {% if page.url == current_url %}aria-current="page"{% endif %}>
            {{ page.title | escape }}
          </a>
        </li>
        {% break %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</nav>
