// Background colors

body {
  color: $base-font-color;
  background: $body-background-color;
}

main {
  background: $base-background-color;
}


// Pick base layout by uncommenting one of the following groups of rules:

//  -----------------------------------
//  WIDE
//  ┌────────────────────┐  ┌─────────┐
//  │    Title           │  │ Title   │
//  ├────────────────────┤  ├─────────┤
//  │                    │  │         │
//  │    Banner          │  │ Banner  │
//  │                    │  │         │
//  ├────────────────────┤  ├─────────┤
//  │    ............    │  │ ....... │
//  │    ............    │  │ ....... │
//  │    ........        │  │ ....    │
//  ├────────────────────┤  ├─────────┤
//  │    ……              │  │ ……      │
//  └────────────────────┘  └─────────┘
/*
.wrapper {
  margin: 0 auto;
  max-width: $page-width;
  padding: $base-padding;
}
*/

//  -----------------------------------
//  PAGE
//  ┌────────────────────┐  ┌─────────┐
//  │    Title           │  │ Title   │
//  │  ┌──────────────┐  │  ├─────────┤
//  │  │              │  │  │         │
//  │  │ Banner       │  │  │ Banner  │
//  │  │              │  │  │         │
//  │  ├──────────────┤  │  ├─────────┤
//  │  │ ............ │  │  │ ....... │
//  │  │ ............ │  │  │ ....... │
//  │  │ ........     │  │  │ ....    │
//  │  └──────────────┘  │  ├─────────┤
//  │    ……              │  │ ……      │
//  └────────────────────┘  └─────────┘

.page-wrapper {
  margin: 0 auto;
  max-width: $page-width;
}
.wrapper {
  margin: 0 auto;
  max-width: $page-width;
  padding: $base-padding;
}


//  -----------------------------------
//  COLUMN
//  ┌────────────────────┐  ┌─────────┐
//  │    Title           │  │ Title   │
//  │    ┌──────────┐    │  │ ┌─────┐ │
//  │    │          │    │  │ │     │ │
//  │    │ Banner   │    │  │ │ Bnr │ │
//  │    │          │    │  │ │     │ │
//  │    └──────────┘    │  │ └─────┘ │
//  │    ............    │  │ ....... │
//  │    ............    │  │ ....... │
//  │    ........        │  │ ....    │
//  │    ────────────    │  │ ─────── │
//  │    ……              │  │ ……      │
//  └────────────────────┘  └─────────┘
/*
body {
  background: $base-background-color;
}
main {
  background: none;
}
.page-wrapper {
  margin: 0 auto;
  max-width: $page-width;
  padding: 0 $base-padding;
}
.wrapper {
  padding: $base-padding 0;
}
*/
