.debug {
  summary {
    padding: $half-padding $base-padding;
    color: $medium-gray;
    background: gainsboro;
    cursor: pointer;
    text-align: center;
  }
  &[open] summary {
    color: inherit;
  }
}

.debug-panel {
  background: black;
  color: yellowgreen;
  font-family: SF Mono, monospace;
  font-size: 0.75em;
  direction: ltr;
  padding: 0 $base-padding;
  
  > .wrapper {
    padding-left: 0;
    padding-right: 0;
    max-width: $page-width - 2 * $base-padding;
  }
  
  a {
    text-decoration: underline;
  }
  
  pre {
    background: transparent;
  }
  
  > .wrapper > * {
    margin: 0;
  }
  > .wrapper >  * + * {
    margin-top: $half-padding;
  }
  
  i {
    font-style: normal;
    color: #888;
  }
  
  dd {
    color: white;
    padding-left: $half-padding;
  }
  
  @supports (display: grid) {
    @include media(min-width 40em) {
      dl {
        display: grid;
        grid-template-columns: 16em minmax(16em, 1fr);
      }
      dt {
        grid-column: 1;
      }
      dd {
        grid-column: 2;
      }
    }
  }
}
