.debug {
  summary {
    padding: $half-padding $base-padding;
    color: $medium-gray;
    background: gainsboro;
    cursor: pointer;
  }
  &[open] summary {
    color: inherit;
  }
}

.debug-wrapper {
  background: black;
  color: yellowgreen;
  padding: $base-padding;
  font-family: SF Mono, monospace;
  font-size: 0.75em;
  overflow-x: scroll;
  direction: ltr;
  
  a {
    text-decoration: underline;
  }
  
  pre {
    background: transparent;
  }
  
  table {
    margin: 0;
    min-width: 48em;
  }
  table + table {
    margin-top: $half-padding;
  }
  th {
    width: 16em;
  }
  td {
    color: white;
    width: 100%;
  }
  th, td {
    border: none;
    padding: 0.125em 1em 0.125em 0;
  }
  
  i {
    font-style: normal;
    color: #888;
  }
}
