.grid-item {
  background: whitesmoke;

  p {
    padding: 1em;
    margin: 0;
  }
  
  & + .grid-item {
    margin-top: $base-padding;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: $base-padding;
    grid-template-columns: 1fr;
    @include media($medium-screen-up) {
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }
  }
  
  .grid-item {
    display: flex;

    & + .grid-item {
      margin-top: 0;
    }
  }
}
