.grid-item {
  & + .grid-item {
    margin-top: $box-padding;
  }
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-gap: $box-padding;
    grid-template-columns: 1fr;
    @include media($medium-screen-up) {
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    }
  }
  
  .grid-item {
    & + .grid-item {
      margin-top: 0;
    }
  }
}
