.page-header {
  border-bottom: 1px solid;
  padding-bottom: $base-padding;
  margin-bottom: $base-padding;
}

.page-title {
  font-size: 2em;
  margin: 0;
}

.page-meta {
  color: $medium-gray;
  font-size: 0.875em;
  margin: 1em 0 0;
}

.banner {
  background-color: $dark-gray;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15em;
  
  .headline {
    color: white;
    margin: 0;
    line-height: 1;
    font-weight: 200;
    font-size: 4em;
  }

  @include media($large-screen-up) {
    height: 30em;
    .headline {
      font-size: 8em;
    }
  }
}

.blog-list {
  li + li {
    margin-top: $half-padding;
  }
  .post-title {
    font-size: 1.5em;
    margin: 0;
  }
  
  a {
    color: cornflowerblue;
    &:hover {
      border-bottom: 2px solid;
    }
  }
}
