.page-header {
  border-bottom: 1px solid;
  padding-bottom: $base-padding;
  margin-bottom: $base-padding;
}

.page-title {
  font-size: 2em;
  margin: 0;
}

.page-headline {
  font-size: 4em;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 $half-padding;
}

.page-meta {
  color: $medium-gray;
  font-size: 0.875em;
  margin: 1em 0 0;
}
