/*! ======================================================================== ***
    Cobalt
    github.com/letrastudio/cobalt
*** ======================================================================== ***
*/

@import "_normalize";
@import "_utilities";




/** Variables
*** ======================================================================== **/

// Font Size
$base-font-size: 1em;  // Set in em
$scale-factor: $base-font-size / 1em;

// Spacing
$base-padding: 2rem * $scale-factor;
$base-spacing: 2em;
$text-spacing: 1em;

// Layout Constraints
$content-width: 64rem * $scale-factor;
$page-width: $base-padding * 2 + $content-width;
$text-width: 34em;

// Typography
$base-font-family: $system-font;
$heading-font-family: $base-font-family;
$base-line-height: 1.5;
$heading-line-height: 1.25;

// Colors
$blue: cornflowerblue;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$action-contrast-color: white;
$accent-color: #add8e6;

// Borders
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 0.25em;
$code-border-radius: 0.1875em;

// Background Colors
$body-background-color: #efefef;
$base-background-color: white;
$code-background-color: whitesmoke;

// Forms
$form-box-shadow: inset 0 0.0625em 0.1875em rgba(black, 0.1);




/** Media Queries
*** ======================================================================== **/

$small-screen:    25em; //  400px @ 16px base
$medium-screen:   35em; //  560px @ 16px base
$large-screen:    60em; //  960px @ 16px base
$xlarge-screen:   75em; // 1200px @ 16px base
$xxlarge-screen: 118em; // 1888px @ 16px base

$small-screen-down: max-width $small-screen;
$medium-screen-up:  min-width $medium-screen;
$large-screen-up:   min-width $large-screen;
$xlarge-screen-up:  min-width $xlarge-screen;
$xxlarge-screen-up: min-width $xxlarge-screen;

$full-width-up:     min-width $page-width;

$landscape-ratio: "5/4";
$portrait-ratio:  "4/5";
$very-wide-ratio: "2/1";
$very-tall-ratio: "1/2";

$landscape: min-aspect-ratio $landscape-ratio;
$portrait:  max-aspect-ratio $portrait-ratio;
$very-wide: min-aspect-ratio $very-wide-ratio;
$very-tall: max-aspect-ratio $very-tall-ratio;




/** Base Styles
*** ======================================================================== **/

@import "_base";
@import "_layout";
@import "_text";




/** Project Styles
*** ======================================================================== **/

@import "header-footer";
@import "grid";
@import "post";
