---
layout: default
---

{% include i18n.html obj=page %}
{% assign posts_collection = "posts" | append: page_collection_suffix %}

<div class="blog wrapper">
  
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>
  
  <ul class="blog-list">
    {% for post in site[posts_collection] %}
    <li>
      <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <small class="post-meta">{% include localized_date.html date=post.date %}</small>
    </li>
    {% endfor %}
  </ul>
  
</div>
