---
layout: default
---

<div class="collection wrapper">
  
  <div class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
  
  <div class="grid">
    {% assign collection_label = page.collection_label | default: page.default.collection_label %}
    {% assign collection = locale[collection_label] | sort: "slug" %}
    {% for document in collection %}
    <div class="grid-item">
      <a href="{{ document.url | prepend: site.baseurl }}" title="{{ document.title }}">
        <img src="{{ document.image | default: document.default.image | prepend: site.baseurl }}" alt="{{ document.title }}">
      </a>
    </div>
    {% endfor %}
  </div>
  
</div>
