---
layout: default
---

<div class="collection wrapper">
  
  <div class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>
  
  <div class="grid">
    {% assign collection = site[page.collection_label] | sort: "slug" %}
    {% for document in collection %}
    {% include i18n.html obj=document %}
    <div class="grid-item">
      <a href="{{ document.url | prepend: site.baseurl }}" title="{{ document.title }}">
        <img src="{{ document.image | default: default_page.image | prepend: site.baseurl }}" alt="{{ document.title }}">
      </a>
    </div>
    {% endfor %}
  </div>

</div>
