---
layout: default
---

{% include i18n.html obj=page %}

<div class="photo wrapper">
  
  <header class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </header>

  <figure>
    <img src="{{ page.image | default: fallback_page.image | prepend: site.baseurl }}" {% if page.image_alt %}alt="{{ page.image_alt }}"{% endif %}>
    {% if page.caption %}
    <figcaption>{{ page.caption }}</figcaption>
    {% endif %}
  </figure>
  
  <hr>
  
  <div class="text-container">
    <p>
      <strong><span aria-hidden="true">👤 </span>{{ localized.author }}:</strong> {{ page.author | default: fallback_page.author }}<br>
      <strong><span aria-hidden="true">📅 </span>{{ localized.date }}:</strong> {{ page.date | default: fallback_page.date | date: "%Y-%m-%d" }}<br>
      <strong><span aria-hidden="true">🗺 </span>{{ localized.location }}:</strong> {{ page.location | default: fallback_page.location }}<br>
      <strong><span aria-hidden="true">🔗 </span>{{ localized.link }}:</strong> <a href="{{ page.link | default: fallback_page.link }}">unsplash.com</a>
    </p>
  </div>
  
</div>
