---
layout: default
---

<div class="photo wrapper">
  
  <div class="page-header">
    <h1 class="page-title">{{ page.title }}</h1>
  </div>

  <figure>
    <img src="{{ page.image | default: page.default.image | prepend: site.baseurl }}" {% if page.image_alt %}alt="{{ page.image_alt }}"{% endif %}>
    {% if page.caption %}
    <figcaption>{{ page.caption }}</figcaption>
    {% endif %}
  </figure>
  
  <hr>
  
  <div class="text text-wrapper">
    <p>
      <strong>{{ locale.strings.author }}:</strong>
        {{ page.author | default: page.default.author }}<br>
      <strong>{{ locale.strings.date }}:</strong>
        {{ page.date_published | default: page.default.date_published | localized_date: "long" }}<br>
      <strong>{{ locale.strings.location }}:</strong>
        {{ page.location | default: page.default.location }}<br>
      <strong>{{ locale.strings.link }}:</strong>
        <a href="{{ page.link | default: page.default.link }}" target="_blank" rel="noopener">unsplash.com</a>
    </p>
  </div>
  
</div>
